.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active{
  opacity: 1;
  transition: opacity 1000ms;
}
input[type="checkbox"]{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0 10px;

}

.checkbox {
  font-size: 30px;
}
@media only screen and (max-width: 991px) {

    .container{
      width: 100%;
    }

}

