.addNew {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .15);
  border-radius: 5px;
  padding: 5px 28px;
  margin: 10px 0;
}
.jumbotronLevel {
  text-align: right;
}
.itemsContainer{
  margin-top: 30px;
  list-style: none;
  padding: 0;
  font-size: 18px;
  border-radius: 0px;
}

.itemsContainer > span > li.done {

  min-height: 50px;
  background-color:white;
  padding: 10px 10px;
  text-decoration-line: line-through;
  color: rgba(174, 169, 169, 1);
}

.updateIcon {
  border-radius: 50%;
  padding: 15px;
  background-color: #25ab6d;
  color: white;
  margin: 7px 12px;
  transition: all 0.3s;
}

.updateIcon:hover {
  color: black;
  cursor: pointer;
  background-color: lightgray;
}

.itemsContainer > span > li.pending {
  min-height: 50px;
  background-color: rgb(48,204,237);
  padding: 10px 10px;
  color: white;

}
.itemsContainer > span > li:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.titleSearch {
  color: rgb(125, 125, 125);
}

.modalButtons {
  margin: 1em 2px;
  padding: 1em 2em;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  background: #C94E50;
  color: #FFFFFF;
  border: none;
}

.modalButtons:hover{
  cursor: pointer;
  box-shadow: inset 1200px 1053px 1061px 2199px rgba(58, 58, 70, 0.55);  

}

.updateInput{
  -webkit-transition: all 1s ;
  -moz-transition: all 1s ;
  transition: all 1s ;
  border: none;
  padding: 0;
}

.inputTitle{
  background-color: white;
  border: none;
}

.inputTitle:focus {
  outline: none;
}

.titleTasksList, .noTasksMassage {
  color: rgb(125, 125, 125);
  text-align: center;
}

